:root {
    --start-sec: 30;
    --start-min: 6;
    --start-hour: 4;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.lines {
    position: absolute;
    width: 450px;
    height: 450px;
    background-color: rgba(255, 228, 196, 0.49);
    border-radius: 50%;
    border: 40px solid #ed3b53;
    top: 20vh;
    left: 20vh;
}

.line {
    width: 10px;
    position: absolute;
    left: 50%;
    bottom: 50%;
    border-radius: 50%;
}

.hours {
    height: 150px;
    background-color: blueviolet;
    transform-origin: bottom;
    animation: rotateHour calc(12*60*60s) steps(60) infinite;
}

@keyframes rotateHour {
    from {
        transform: rotate(calc(var(--start-hour) * 30deg))
    }
    to {
        transform: rotate(calc(var(--start-hour) * 30deg + 360deg))
    }
}

.mint {
    height: 130px;
    background-color: blue;
    transform-origin: bottom;
    animation: rotateMin 3600s steps(60) infinite;
}

@keyframes rotateMin {
    from {
        transform: rotate(calc(var(--start-min) * 1deg))
    }
    to {
        transform: rotate(calc(var(--start-min) * 1deg + 360deg))
    }
}

.sec {
    height: 100px;
    background-color: #e9ca30;
    transform-origin: bottom;
    animation: rotateSec 60s steps(60) infinite;
}

@keyframes rotateSec {
    from {
        transform: rotate(calc(var(--start-sec) * 1deg));
    }

    to {
        transform: rotate(calc(var(--start-sec) * 1deg + 360deg));
    }
}
