:root {
    --start-sec: 0;
    --start-min: 0;
    --start-hour: 9;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.lines {
    position: absolute;
    width: 450px;
    height: 450px;
    background-color: rgba(255, 228, 196, 0.49);
    border-radius: 50%;
    border: 40px solid #ed3b53;
    top: 20vh;
    left: 20vh;
}

.line {
    width: 10px;
    position: absolute;
    left: 50%;
    bottom: 50%;
    border-radius: 50%;
}

.hours {
    height: 185px;
    background-color: blueviolet;
    transform-origin: bottom;
    animation: rotateHour calc(12*60*60s) steps(60) infinite;
}

@keyframes rotateHour {
    from {
        transform: rotate(calc(var(--start-hour) * 30deg))
    }
    to {
        transform: rotate(calc(var(--start-hour) * 30deg + 360deg))
    }
}

.mint {
    height: 130px;
    background-color: blue;
    transform-origin: bottom;
    animation: rotateMin 3600s steps(60) infinite;
}

@keyframes rotateMin {
    from {
        transform: rotate(calc(var(--start-min) * 6deg))
    }
    to {
        transform: rotate(calc(var(--start-min) * 6deg + 360deg))
    }
}

.sec {
    height: 100px;

    background-color: #e9ca30;
    transform-origin: bottom;
    animation: rotateSec 60s steps(60) infinite;
}

@keyframes rotateSec {
    from {
        transform: rotate(calc(var(--start-sec) * 1deg));
    }

    to {
        transform: rotate(calc(var(--start-sec) * 1deg + 360deg));
    }
}


.numbers{
    position: absolute;
    left: 50%;
    font-size: 2rem;
}

.num:nth-child(1){
    position: absolute;
    top: 0;
    left: -15px;
}

.num:nth-child(2){
    /*transform: rotate(-30deg);*/
    position: absolute;
    top: 20px;
    left: 80px;
}

.num:nth-child(3){
    /*transform: rotate(-30deg);*/
    position: absolute;
    top: 80px;
    left: 140px;
}

.num:nth-child(4){
    position: absolute;
    top: 165px;
    left: 165px;
}

.num:nth-child(5){
    position: absolute;
    top: 250px;
    left: 140px;
}

.num:nth-child(6){
    position: absolute;
    top: 310px;
    left: 80px;
}

.num:nth-child(7){
    position: absolute;
    top: 335px;
    left: -5px;
}

.num:nth-child(8){
    position: absolute;
    top: 315px;
    left: -90px;
}

.num:nth-child(9){
    position: absolute;
    top: 255px;
    left: -155px;
}

.num:nth-child(10){
    position: absolute;
    top: 165px;
    left: -180px;
}

.num:nth-child(11){
    position: absolute;
    top: 80px;
    left: -160px;
}

.num:nth-child(12){
    position: absolute;
    top: 20px;
    left: -95px;
}